body {
    font-family: 'Roboto', sans-serif;
    min-width: 1301px;
    font-weight: 300;
    margin: 0px;
}

h2, h3 {
    font-weight: 400;
}

.wrapper {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.container {
    width: 95%;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 2.5% 20px 2.5%;
    padding: 5px 5px 25px 5px;
    background-color: #e6e6e6;
}

.container h2 {
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

.subContainer {
    width: 250px;
    padding-bottom: 15px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #cdcdcd;
    margin: 25px 10px 0px 10px;
}

.subContainer h3 {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.streamChoiceDiv {
    padding-top: 10px;
    margin-bottom: -7.5px;
}

.checkboxDiv {
    padding: 0px 5px 5px 0px;
}

.linkDiv {
    margin-top: 30px;
    font-size: 20px;
}

.linkDiv a {
    padding: 5px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #e6e6e6;
    transition: background-color 500ms;
}

.linkDiv a:hover {
    background-color: #cdcdcd;
    transition: background-color 500ms;
}

.hideIt {
    width: 60px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    margin: -5px 0px 0px -5px;
    border: 3px dashed #cdcdcd;
    border-top-left-radius: 6px;
    transition: background-color 500ms;
}

.showIt {
    width: 60px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    margin: -5px 0px 0px -5px;
    border: 3px dashed #cdcdcd;
    border-radius: 6px 0px 0px 6px;
    transition: background-color 500ms;
}

.hideIt:hover, .showIt:hover {
    background-color: #cdcdcd;
    transition: background-color 500ms;
}

.hideIt p, .showIt p {
    margin: 0px;
    padding-top: 4px;
}

#eventsContainer, #streamsContainer, #accessesContainer, #profileContainer {
    height: 315px;
    padding-bottom: 5px;
    border-radius: 0px 0px 6px 6px;
}

#profileContainer {
    padding-top: 43.8px;
}

#eventsParagraph {
    display: inline;
}
