body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 750px;
    margin: 0px;
}

.wrapper {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.container {
    width: 95%;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 2.5% 5px 2.5%;
    padding: 5px 5px 25px 5px;
    background-color: #e6e6e6;
}

.container h2 {
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

#consoleContainer {
    margin-top: 15px;
}

.subContainer {
    width: 250px;
    padding-bottom: 15px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #cdcdcd;
    margin: 25px 10px 0px 10px;
}

.subContainer h3 {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.streamChoiceDiv {
    padding: 3px 0px 0px 0px;
}

.streamChoiceDiv #eventsParagraph {
    display: inline;
}

.checkboxDiv {
    padding: 0px 5px 5px 0px;
}

.hideDiv {
    cursor: pointer;
    position: absolute;
    border-radius: 6px;
    margin: -5px 0px 0px -5px;
    border: 1px solid #cdcdcd;
    background-color: #e6e6e6;
    transition: background-color 500ms;
}

.hideDiv:hover {
    background-color: #cdcdcd;
    transition: background-color 500ms;
}

.hideDiv p {
    margin: 0px;
    padding: 3.5px 5px 3.5px 5px;
}