.title {
    width: 95%;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 2.5% 0px 2.5%;
}

.title h2 {
    font-size: 30px;
    margin : 10px 0px 10px 0px;
}

.titleDiv {
    width: 375px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #cdcdcd;
    padding: 0px 10px 0px 10px;
    border-radius: 6px 6px 0px 0px;
    transition: background-color 500ms;
}

.titleDiv:hover {
    background-color: #e6e6e6;
    transition: background-color 500ms
}

.titleFocus {
    width: 375px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #e6e6e6;
    padding: 0px 10px 0px 10px;
    border-radius: 6px 6px 0px 0px;
    transition: background-color 500ms;
}