.title {
    width: 95%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 2.5% -4px 2.5%;
}

.title h2 {
    font-size: 25px;
    margin : 10px 0px 10px 0px;
}

.title ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
}

.title ul > li {
    width: calc(25% - 3.5px);
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    border-radius: 6px 6px 0px 0px;
}

.titleDiv {
    background-color: #cdcdcd;
    border-bottom: 2px solid #b4b4b4;
    transition: background-color 500ms, border-bottom 500ms;
}

.titleDiv:hover {
    background-color: #e6e6e6;
    border-bottom: 2px solid #9b9b9b;
    transition: background-color 500ms, border-bottom 500ms;
}

.titleFocus {
    background-color: #e6e6e6;
    border-bottom: 2px solid #505050;
    transition: background-color 500ms, border-bottom 500ms;
}