.topBar {
    width: 95%;
    height: 50px;
    padding: 0px;
    display: table;
    background: #e6e6e6;
    border-radius: 6px;
    margin: 10px 2.5% 15px 2.5%;
}

.topBar #home {
    float: left;
    height: 50px;
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.topBar #logo {
    height: 50px;
}

.topBar #sign {
    float: right;
    width: 200px;
    text-align: right;
    padding: 12px 10px 0px 0px;
}

.topBar ul {
    margin: 0px;
    padding: 0px;
}

.topBar ul > li {
    display: inline-block;
}

.topBar a {
    display: inline-block;
    text-decoration: none;
}

.topBar img {
    height: 40px;
    margin-top: 5px;
    opacity: 0.75;
    transition: opacity 500ms;
}

.topBar img:hover {
    opacity: 1;
    transition: opacity 500ms;
}

.topBar span {
    opacity: 0.75;
    transition: opacity 500ms;
}
.topBar span:hover {
    opacity: 1;
    transition: opacity 500ms;
}
