body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    margin: 1.5em 0 0;
}
h3 {
    margin: 1em 0 0;
}
textarea {
    width: 100%;
    height: 15em;
}
.auth {
    text-align: center;
    float: left;
    width: calc(25% - 15px);
    margin-right: 15px;
}
.button {
    float: left;
    width: 25%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.clear {
    clear: both;
}